:root{ 
--color1: #0e11b1de;
--color2: #ceffe2;
--color3: #ffffff;
--color4: #5759c9d3;
--color5: #000000e0;

--mFont: "Zalando Sans Expanded", sans-serif;
}

body {
display: grid;
min-height: 100svh;
grid-template-areas:
"header header"
"nav nav"
"main main"
"footer footer";
grid-template-columns: 1fr, 1fr;
grid-template-rows: 100px 50px 1fr 15px;
font-family: var(--mFont);
}

header {
   grid-area: header;
   background-color: var(--color1);
   font-family: var(--mFont);
   justify-content: center;
}

header img {
   width: 60px;
   height: auto;
}

nav {
   grid-area: nav;
   background-color: var(--color2);
   font-family: var(--mFont);
}

nav ul {
   display: flex;
   justify-content: space-evenly;
   list-style: none;
}

nav a {
   text-decoration: none;
   font-family: var(--mFont);
   background-color: var(--color3);
   border-radius: 5px;
   transition: 0.3s ease;
}

nav a:hover {
   opacity: 50%;
}

main {
   grid-area: main;
   background-color: var(--color3);
   font-family: var(--mFont);
}

main ul {
   list-style: none;
   gap: 50px;
   display: flex;
   justify-content: center;
}

main li img {
   height: 250px;
   width: auto;
   border: solid var(--color1);
   border-radius: 20px;
   border-width: 5px;
}

main p {
   border-top: solid var(--color1);
   border-top-width: 2px;
   padding-top: 20px;
   margin-top: 50px;
   margin-left: 20px;
   font-family: var(--mFont);
}

main p a {
   color: var(--color4);
   transition: 0.3s ease;
}

main p a:hover {
   opacity: 50%;
}

footer {
   grid-area: footer;
   border-top: solid var(--color4);
   border-top-width: 2px;
   font-family: var(--mFont);
   font-size: small;
}

h1 {
   text-align: center;
   font-size: 40px;
   color: var(--color3);
   font-family: var(--mFont);
}

h2 {
   font-size: 20px;
   color: var(--color5);
   font-family: var(--mFont);
}

h3 {
   font-size: 35px;
   font-family: var(--mFont);
}
