/************************* DEBUG SETTINGS *************************/

/* Settings to help find errors in your css
   uncomment temporarily to enable */

/* Add dotted line around all boxes.
   This makes size of boxes visible.
   Warning 1: this settings may change your layout.
   Warning 2: keep the * as selector for all tags when uncommenting. */
/*  * {border: 1px dotted black;}   */
  
/* Add semi-transparant dark background to all boxes
   The more boxes are on top of eachother the darker tghe background color
   Warning: keep the * as selector for all tags when uncommenting. */
/*  * {background-color: rgba(0,0,0,5%);}  */

/************************* BASE SETTINGS *************************/

/* Settings to make it easier for you
   uncomment permanently when you understand the meaning of them */
   
/* border is included in width en height of boxes */
/* * { box-sizing: border-box; } */

/* standard margin 0 pixels */
/* * { margin: 0px; } */

/* hide everything larger than the dimensions of the div-box
   important side effect: browser usually doesn't take floats
   into account when determining height of div, leading to 
   div with height zero. With this settings, height of div-boxes
   willl be large enough to fit floats inside. */
/* div { overflow: hidden; }

/************************* YOUR SETTINGS *************************/

/* add your css here, feel free to use comments and order them logically for better readability */

:root{ 
--color1: #0e11b1de;
--color2: #ceffe2;
--color3: #ffffff;
--color4: #5759c9d3;
--color5: #000000e0;

--mFont: "Zalando Sans Expanded", sans-serif;
}

body {
display: grid;
min-height: 100svh;
grid-template-areas:
"header header"
"nav nav"
"main main"
"footer footer";
grid-template-columns: 1fr, 1fr;
grid-template-rows: 100px 50px 1fr 15px;
}

header {
   grid-area: header;
   background-color: var(--color1);
   font-family: var(--mFont);
   justify-content: center;
}

header img {
   width: 60px;
   height: auto;
}

nav {
   grid-area: nav;
   background-color: var(--color2);
}

nav ul {
   display: flex;
   justify-content: space-evenly;
   list-style: none;
}

nav a {
   text-decoration: none;
   font-family: var(--mFont);
   background-color: var(--color3);
   border-radius: 5px;
   transition: 0.4s ease;
}

nav a:hover {
   opacity: 50%;
}

main {
   grid-area: main;
   background-color: var(--color3);
}

main ul {
   list-style: none;
   gap: 50px;
   display: flex;
   justify-content: center;
}

main li img {
   height: 250px;
   width: auto;
   border: solid var(--color1);
   border-radius: 20px;
   border-width: 5px;
}

main p {
   border-top: solid var(--color1);
   border-top-width: 2px;
   padding-top: 20px;
   margin-top: 50px;
   margin-left: 20px;
   font-family: var(--mFont);
}

footer {
   grid-area: footer;
   border-top: solid var(--color4);
   border-top-width: 2px;
   font-family: var(--mFont);
   font-size: small;
}

h1 {
   text-align: center;
   font-size: 40px;
   color: var(--color3)
}

h2 {
   font-size: 20px;
   color: var(--color5);
}

h3 {
   font-size: 35px;
}
